.head {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    background-color: navy;
    color: white;
    height: 85px;
}

.container {
    width: 100%;
    clear: both;
    border-style: outset;
    border-width: medium
  }

  h2 {
    background-color: lightgrey;
    font-size: large;
    

  }